<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Limitless - Responsive Web Application Kit by Eugene Kopyov</title>

	<!-- Global stylesheets -->
	<link href="assets/fonts/inter/inter.css" rel="stylesheet" type="text/css">
	<link href="assets/icons/phosphor/styles.min.css" rel="stylesheet" type="text/css">
	<link href="assets/css/all.min.css" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->

	<!-- Core JS files -->
	<script src="assets/js/main/bootstrap.bundle.min.js"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script src="assets/js/plugins/prism.min.js"></script>
	<script src="assets/js/main/app.js"></script>
	<!-- /theme JS files -->

</head>

<body>

	<!-- Page content -->
	<div class="page-content">

		<!-- Main sidebar -->
		<div class="sidebar sidebar-main sidebar-expand-lg">

			<!-- Sidebar header -->
			<div class="sidebar-section border-bottom">
				<div class="sidebar-logo d-flex justify-content-center align-items-center">
					<a href="index.html" class="d-inline-flex align-items-center py-2">
						<img src="assets/images/logo_icon.svg" class="sidebar-logo-icon" alt="">
						<h4 class="sidebar-resize-hide text-body lh-1 mb-0 ms-3">Limitless</h4>
					</a>

					<div class="sidebar-resize-hide ms-auto">
						<span class="badge bg-danger bg-opacity-10 text-danger rounded-pill">v4.0</span>
						<button type="button" class="btn btn-light btn-icon btn-sm rounded-pill border-transparent sidebar-mobile-main-toggle d-lg-none ms-2">
							<i class="ph-x"></i>
						</button>
					</div>
				</div>
			</div>
			<!-- /sidebar header -->


			<!-- Sidebar content -->
			<div class="sidebar-content">
				<div class="sidebar-section">
					<div class="sidebar-section-body pb-0">
						<a href="https://demo.interface.club/limitless/" class="btn btn-yellow w-100" target="_blank">
							Live preview
							<i class="ph-arrow-square-out ms-2"></i>
						</a>
					</div>
					<ul class="nav nav-sidebar py-2" data-nav-type="accordion">
						<li class="nav-item-header mt-1"><div class="text-uppercase fs-sm lh-sm opacity-50">Main</div> <i class="ph-dots-three sidebar-resize-show"></i></li>
						<li class="nav-item"><a href="index.html" class="nav-link">Introduction</a></li>
						<li class="nav-item"><a href="main_getting_started.html" class="nav-link">Getting started</a></li>
						<li class="nav-item"><a href="main_starter_kit.html" class="nav-link">Starter kit</a></li>
						<li class="nav-item"><a href="main_rtl.html" class="nav-link">RTL layout</a></li>

						<li class="nav-item-header mt-2"><div class="text-uppercase fs-sm lh-sm opacity-50">Basic functionality</div> <i class="ph-dots-three sidebar-resize-show"></i></li>
						<li class="nav-item"><a href="base_scss_css.html" class="nav-link">SCSS and CSS</a></li>
						<li class="nav-item"><a href="base_css_variables.html" class="nav-link">CSS variables</a></li>
						<li class="nav-item"><a href="base_scss_compile.html" class="nav-link">Compiling SCSS</a></li>
						<li class="nav-item nav-item-submenu">
							<a href="#" class="nav-link">Plugins</a>
							<ul class="nav-group-sub collapse">
								<li class="nav-item"><a href="plugins_forms.html" class="nav-link">Forms</a></li>
								<li class="nav-item"><a href="plugins_editors.html" class="nav-link">Editors</a></li>
								<li class="nav-item"><a href="plugins_uploaders.html" class="nav-link">Uploaders</a></li>
								<li class="nav-item"><a href="plugins_extensions.html" class="nav-link">Extensions</a></li>
								<li class="nav-item"><a href="plugins_notifications.html" class="nav-link">Notifications</a></li>
								<li class="nav-item"><a href="plugins_pickers.html" class="nav-link">Pickers</a></li>
								<li class="nav-item"><a href="plugins_tables.html" class="nav-link">Tables</a></li>
								<li class="nav-item"><a href="plugins_ui.html" class="nav-link">UI</a></li>
								<li class="nav-item"><a href="plugins_vis.html" class="nav-link">Visualization</a></li>
							</ul>
						</li>
						<li class="nav-item"><a href="base_icons.html" class="nav-link">Icons</a></li>

						<li class="nav-item"><a href="base_bootstrap.html" class="nav-link">Bootstrap</a></li>
						<li class="nav-item"><a href="base_color_system.html" class="nav-link">Color system</a></li>
						<li class="nav-item"><a href="base_helpers.html" class="nav-link">Helpers</a></li>
						<li class="nav-item"><a href="base_themes.html" class="nav-link active">Themes</a></li>

						<li class="nav-item-header mt-2"><div class="text-uppercase fs-sm lh-sm opacity-50">Layout options</div> <i class="ph-dots-three sidebar-resize-show"></i></li>
						<li class="nav-item"><a href="layout_overview.html" class="nav-link">Layouts</a></li>
						<li class="nav-item"><a href="layout_sidebars.html" class="nav-link">Sidebars</a></li>
						<li class="nav-item"><a href="layout_navbars.html" class="nav-link">Navbars</a></li>
						<li class="nav-item"><a href="layout_v_nav.html" class="nav-link">Vertical navigation</a></li>
						<li class="nav-item"><a href="layout_h_nav.html" class="nav-link">Horizontal navigation</a></li>
						<li class="nav-item"><a href="layout_page_header.html" class="nav-link">Page header</a></li>

						<li class="nav-item-header mt-2"><div class="text-uppercase fs-sm lh-sm opacity-50">Other</div> <i class="ph-dots-three sidebar-resize-show"></i></li>
						<li class="nav-item"><a href="other_migration.html" class="nav-link">Migration to v4.0</a></li>
						<li class="nav-item"><a href="other_credits.html" class="nav-link">Sources and credits</a></li>
						<li class="nav-item"><a href="other_changelog.html" class="nav-link">Changelog</a></li>
					</ul>
				</div>
			</div>
			<!-- /sidebar content -->

		</div>
		<!-- /main sidebar -->


		<!-- Main content -->
		<div class="content-wrapper">

			<!-- Main navbar -->
			<div class="navbar navbar-expand-lg navbar-static border-bottom">
				<div class="container-fluid">
					<div class="d-flex d-lg-none flex-fill me-2">
						<button type="button" class="navbar-toggler sidebar-mobile-main-toggle rounded-pill">
							<i class="ph-list"></i>
						</button>
					</div>

					<div class="hstack gap-1 d-none d-lg-flex me-2 mb-0">
						<a href="index.html" class="text-body fw-semibold d-inline-flex align-items-center gap-2"><i class="ph-house-line"></i> Documentation</a> - <span class="text-muted">Themes</span>
					</div>

					<ul class="nav hstack gap-sm-1 ms-auto">
						<li class="nav-item">
							<a href="https://themeforest.net/item/limitless-responsive-web-application-kit/13080328/comments" class="navbar-nav-link navbar-nav-link-icon rounded-pill" target="_blank">
								<div class="hstack gap-2 mx-lg-1">
									<i class="ph-chats"></i>
									<span class="d-none d-lg-inline-block">Comments</span>
								</div>
							</a>
						</li>
						<li class="nav-item">
							<a href="https://themeforest.net/item/limitless-responsive-web-application-kit/reviews/13080328" class="navbar-nav-link navbar-nav-link-icon rounded-pill" target="_blank">
								<div class="hstack gap-2 mx-lg-1">
									<i class="ph-star"></i>
									<span class="d-none d-lg-inline-block">Reviews</span>
								</div>
							</a>
						</li>
						<li class="nav-item">
							<a href="https://kopyov.ticksy.com/" class="navbar-nav-link navbar-nav-link-icon rounded-pill" target="_blank">
								<div class="hstack gap-2 mx-lg-1">
									<i class="ph-lifebuoy"></i>
									<span class="d-none d-lg-inline-block">Support</span>
								</div>
							</a>
						</li>
					</ul>

					<div class="ms-1 ms-lg-3">
						<label class="btn btn-light btn-icon border-transparent rounded-pill" for="btncheck1">
							<input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
							<i class="ph-moon"></i>
						</label>
					</div>
				</div>
			</div>
			<!-- /main navbar -->


			<!-- Inner content -->
			<div class="content-inner" data-bs-spy="scroll" data-bs-target="#page_nav" tabindex="0">			

				<!-- Content area -->
				<div class="content container">

					<!-- Inner container -->
					<div class="d-flex align-items-stretch align-items-lg-start flex-column flex-lg-row">

						<!-- Left content -->
						<div class="flex-1 order-2 order-lg-1 wmin-0">

							<!-- Default theme -->
							<div id="themes">
								<h1 class="display-6 fw-bold">Theming support</h1>

								<div class="mb-3 pt-2" id="themes_overview">
									<h3 class="fw-bold">Overview</h3>
									<p>Limitless template provides a very flexible theming support through a set of SCSS files and variables. Current version is also fully based on CSS variables, meaning all template styles can now be customized at runtime and build process is optional and suitable for deep changes. It includes the default theme in 2 color versions: light and dark. The main difference between version 3 and 4 is that dark theme in version 3 requires switching of CSS files and a separate set of SCSS files with another set of SCSS variables, version 4 includes only 1 set of SCSS files and dark theme is integrated in there.</p>

									<p>SCSS and CSS variables are working together, this method allows to use all power of SASS pre-processor that plain CSS doesn't support. We generate CSS variables on root and component levels from SCSS variables and then adjust variables for dark theme. This is what is looks like in source files:</p>

									<pre class="language-scss mb-3">
										<code>
											// SCSS variables for light and dark themes
											$body-bg:                   #f1f4f9;
											$body-color:                $gray-900;
											$body-darkmode-bg:          #202125;
											$body-darkmode-color:       $white;

											// CSS variables in light theme
											:root,
											[data-color-theme=light] {
												--body-bg: #f1f4f9;
												--body-color: #1F2937;
											}

											// CSS variables in dark theme
											[data-color-theme=dark],
											html[data-color-theme=dark] [data-color-theme] {
												--body-bg: #202125;
												--body-color: #fff;
											}

											// Use variables in containers
											body {
												background-color: var(--body-bg);
												color: var(--body-color);
											}
										</code>
									</pre>

									<p>All Bootstrap and 3rd-party components re-using this logic as well. Repeated variables in external libraries on one hand slightly affect the amount of code, but on the other hand allows us to remove lots of CSS properties and use a combination of SCSS and CSS variables instead, this results in a very flexible format of CSS output.</p>
									<p>At this point of time not all Bootstrap components support CSS variables and it doesn't support theme switching at all, so the whole logic and mechanism of detecting/setting a theme in Limitless is built from scratch, including missing Bootstrap components. This will improve over time, but no significant changes are expected.</p>
								</div>

								<div class="mb-3 pt-2" id="themes_usage">
									<h3 class="fw-bold">How to use</h3>
									<p>Light and dark themes can be used on root level and component level. This means you can change color theme for the entire page or separately per component. The latter is very useful if certain component colors need to be inversed if used in another dark component, e.g. text input in dark sidebar. All you need is to add <code>data-color-theme="dark"</code> attribute to either <code>html</code> tag or component container. This is how it looks:</p>

									<pre class="language-markup mb-3">
										<code>
											// Change entire page to dark mode
											&lt;html lang="en" dir="ltr" data-color-theme="dark">
												...
											&lt;/html>

											// Change component theme to dark
											&lt;div class="navbar navbar-dark navbar-expand-lg">
												&lt;input type="text" class="form-control" placeholder="Search" data-color-theme="dark">
												...
												&lt;div class="dropdown">
													&lt;button type="button" class="btn btn-primary">Button&lt;/button>
													&lt;div class="dropdown-menu" data-color-theme="dark">
														...
													&lt;/div>
												&lt;/div> 
											&lt;/div>
										</code>
									</pre>

									<p>This method works for buttons, form controls, text, links, backgrounds etc. Same logic also works for light theme, useful if you need to force certain components to be displayed in light theme, e.g. show light dropdown in dark container. For this, use <code>data-color-theme="light"</code> attribute.</p>
									<p class="mb-3">Both <code>data-color-theme</code> attributes simply replace CSS variables on both root and component level. SASS mixin that is responsible for this switching applies a few selectors to each component that enable theme switching at runtime:</p>

									<pre class="language-scss mb-3">
										<code>
											@mixin color-scheme($name, $level: '') {
												@if $name == 'dark' {
													@if ($level != 'root') {
														&[data-color-theme=dark],
														[data-color-theme=dark] &:not([data-color-theme]),
														html[data-color-theme=dark] & {
															color-scheme: dark;
															@content;
														}
													}
													@else {
														[data-color-theme=dark],
														html[data-color-theme=dark] [data-color-theme] {
															@content;
														}
													}
												}

												@if $name == 'light' {
													@if ($level != 'root') {
														&[data-color-theme=light],
														[data-color-theme=light] &:not([data-color-theme]),
														html[data-color-theme=light] & {
															@content;
														}
													}
													@else {
														[data-color-theme=light],
														html[data-color-theme=light] [data-color-theme] {
															@content;
														}
													}
												}
											}
										</code>
									</pre>

									<p>This code is located in <code>scss/bootstrap_limitless/mixins/_color-scheme.scss</code>. It's based on default Bootstrap mixin, but extended with custom logic. The mixin includes optional <code>'root'</code> attribute, which adds a relation to the page level instead of component level. Read next sections for more information.</p>
								</div>

								<div class="mb-3 pt-2" id="themes_root_level">
									<h3 class="fw-bold">Root level theming</h3>

									<p>Limitless includes 2 levels of variables - root and component. Root level contains global variables that are re-used in other places, this list can be easily extended in <code>_root.scss</code> file. Component-specific variables are added to main component container selectors (e.g. <code>.dropdown-menu</code>).</p>
									<p class="mb-3">Root level includes 90 CSS variables, vast majority is generated dynamically from SCSS color maps located in <code>_variables-custom.scss</code>. You can re-use these variables to style any 3rd-party component or library. For quick and simple customizations you can change values in these variables, for deep customization you would still need to edit SCSS files. Here is a full list of CSS variables for the default light theme:</p>

									<pre class="language-scss mb-3">
										<code>
											:root,
											[data-color-theme=light] {
											    --body-font-size-lg: 1rem;
											    --body-font-size-sm: 0.75rem;
											    --body-font-size-xs: 0.625rem;
											    --body-line-height-computed: calc(1375rem / 1000);
											    --body-line-height-lg: 1.375;
											    --body-line-height-sm: 1.8334;
											    --body-line-height-xs: 2.2;
											    --component-active-bg: #0c83ff;
											    --component-active-bg-rgb: 12,131,255;
											    --component-active-color: #fff;
											    --focus-ring-box-shadow: 0 0 0 0.125rem rgba(12, 131, 255, 0.25);
											    --spacer-1: 0.3125rem;
											    --spacer-2: 0.625rem;
											    --spacer: 1.25rem;
											    --spacer-4: 1.875rem;
											    --spacer-5: 3.75rem;
											    --icon-font-family: Phosphor;
											    --icon-font-size: 1.25rem;
											    --icon-font-size-lg: 1.5rem;
											    --icon-font-size-sm: 1rem;
											    --box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.125);
											    --box-shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.1);
											    --box-shadow-lg: 0 6px 12px rgba(0, 0, 0, 0.15);
											    --transition-base-timer: 0.15s;
											    --transition-collapse-timer: 0.3s;
											    --gray-100: #F9FAFB;
											    --gray-200: #F3F4F6;
											    --gray-300: #E5E7EB;
											    --gray-400: #D1D5DB;
											    --gray-500: #9CA3AF;
											    --gray-600: #6B7280;
											    --gray-700: #4B5563;
											    --gray-800: #374151;
											    --gray-900: #1F2937;
											    --indigo: #5C6BC0;
											    --purple: #8e70c1;
											    --pink: #f35c86;
											    --teal: #26A69A;
											    --yellow: #ffd648;
											    --primary: #0c83ff;
											    --secondary: #247297;
											    --success: #059669;
											    --info: #049aad;
											    --warning: #f58646;
											    --danger: #EF4444;
											    --light: #F3F4F6;
											    --dark: #252b36;
											    --black: #000;
											    --white: #fff;
											    --indigo-rgb: 92,107,192;
											    --purple-rgb: 142,112,193;
											    --pink-rgb: 243,92,134;
											    --teal-rgb: 38,166,154;
											    --yellow-rgb: 255,214,72;
											    --primary-rgb: 12,131,255;
											    --secondary-rgb: 36,114,151;
											    --success-rgb: 5,150,105;
											    --info-rgb: 4,154,173;
											    --warning-rgb: 245,134,70;
											    --danger-rgb: 239,68,68;
											    --light-rgb: 243,244,246;
											    --dark-rgb: 37,43,54;
											    --black-rgb: 0,0,0;
											    --white-rgb: 255,255,255;
											    --body-color-rgb: 31,41,55;
											    --body-bg-rgb: 241,244,249;
											    --font-sans-serif: "Inter",system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
											    --font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
											    --gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
											    --body-font-family: var(--font-sans-serif);
											    --body-font-size: 0.875rem;
											    --body-font-weight: 400;
											    --body-line-height: 1.5715;
											    --body-color: #1F2937;
											    --body-bg: #f1f4f9;
											    --border-width: 1px;
											    --border-style: solid;
											    --border-color: #D1D5DB;
											    --border-color-translucent: rgba(0, 0, 0, 0.125);
											    --border-radius: 0.375rem;
											    --border-radius-sm: 0.25rem;
											    --border-radius-lg: 0.5rem;
											    --border-radius-xl: 1rem;
											    --border-radius-2xl: 2rem;
											    --border-radius-pill: 50rem;
											    --link-color: #0c83ff;
											    --link-hover-color: #0962bf;
											    --code-color: #f35c86;
											    --highlight-bg: rgba(0, 0, 0, 0.15);
											}
										</code>
									</pre>

									<p>The logic of dark theme is simple: when you add <code>data-color-theme="dark"</code> attribute, default CSS variables are getting overridden based on another selector. This is what is looks like:</p>
									<pre class="language-scss mb-3">
										<code>
											[data-color-theme=dark],
											html[data-color-theme=dark] [data-color-theme] {
												color-scheme: dark;
												--gray-100: #39393d;
												--gray-200: #3f4044;
												--gray-300: #46474a;
												--gray-400: #4d4d51;
												--gray-500: #6e6f71;
												--gray-600: #909092;
												--gray-700: #b1b1b3;
												--gray-800: #d2d3d3;
												--gray-900: #f4f4f4;
												--dark: #08090a;
												--dark-rgb: 8,9,10;
												--light: #383940;
												--light-rgb: 56,57,64;
												--body-bg: #202125;
												--body-color: #fff;
												--body-color-rgb: 255,255,255;
												--border-color: #4d4d51;
												--border-color-translucent: rgba(255, 255, 255, 0.125);
												--link-color: #6db5ff;
												--link-rgb-color: 109,181,255;
												--link-hover-color: #a0cfff;
												--highlight-bg: rgba(255, 255, 255, 0.3);
												--code-color: #f57d9e;
											}
										</code>
									</pre>
									<p>As you can see, not all variables need new values, only the ones that need adjustments.</p>
									<p>The <code>color-scheme: dark;</code> is a useful selector, when it's set to <code>light</code> or <code>dark</code>,the operating system makes adjustments to the user interface. This includes form controls, scrollbars, and the used values of CSS system colors. A quick example would be to display dark theme scrollbars in components even if a page is in light mode.</p>
								</div>


								<div class="mb-3 pt-2" id="themes_component_level">
									<h3 class="fw-bold">Component level theming</h3>

									<p>The second use case is component-based variables. This logic comes from Bootstrap framework and was significantly extended in Limitless. This method has upsides and downsides: upside is each component can be completely isolated from others, downside - each component requires its own set of variables. For example - if in SCSS we can simply re-apply same variable in all components, CSS variables need to be different, but they can still re-use SCSS variables. This is how it works:</p>

									<pre class="language-scss mb-3">
										<code>
											// Bootstrap modal variables
											.modal {
												--#{$prefix}modal-zindex: #{$zindex-modal};
												--#{$prefix}modal-width: #{$modal-md};
												--#{$prefix}modal-padding: #{$modal-inner-padding};
												--#{$prefix}modal-margin: #{$modal-dialog-margin};
												--#{$prefix}modal-color: #{$modal-content-color};
												--#{$prefix}modal-bg: #{$modal-content-bg};
												--#{$prefix}modal-border-color: #{$modal-content-border-color};
												--#{$prefix}modal-border-width: #{$modal-content-border-width};
												--#{$prefix}modal-border-radius: #{$modal-content-border-radius};
											}

											// Any other modal triggered by 3rd-party library
											.custom-modal {
												--#{$prefix}custom-modal-zindex: #{$zindex-modal};
												--#{$prefix}custom-modal-width: #{$modal-md};
												--#{$prefix}custom-modal-padding: #{$modal-inner-padding};
												--#{$prefix}custom-modal-margin: #{$modal-dialog-margin};
												--#{$prefix}custom-modal-color: #{$modal-content-color};
												--#{$prefix}custom-modal-bg: #{$modal-content-bg};
												--#{$prefix}custom-modal-border-color: #{$modal-content-border-color};
												--#{$prefix}custom-modal-border-width: #{$modal-content-border-width};
												--#{$prefix}custom-modal-border-radius: #{$modal-content-border-radius};
											}
										</code>
									</pre>

									<p>As you can see, SCSS variables are the same in both components, but CSS variables have different names. Another advantage here is that if you work with SCSS version, you can edit all values of CSS variables in <code>_variables-core.scss</code> and <code>_variables-custom.scss</code> files.</p>
									<p>Usage is pretty simple here, all you need is to add a list of variables to the main container selector and use those vars in CSS properties. To apply dark theme, use <code>color-scheme()</code> mixin in the same container. A quick example:</p>
									<pre class="language-scss mb-3">
										<code>
											// Variables from _variables-core.scss
											$dropdown-bg:                          var(--#{$prefix}white);
											$dropdown-darkmode-bg:                 lighten($body-darkmode-bg, 7.5%) !default;
											$dropdown-border-color:                var(--#{$prefix}border-color-translucent);
											$dropdown-darkmode-border-color:       rgba(var(--#{$prefix}black-rgb), .2) !default;

											// Dropdown menu theming
											.dropdown-menu {
											    --#{$prefix}dropdown-bg: #{$dropdown-bg};
											    --#{$prefix}dropdown-border-color: #{$dropdown-border-color};

											    // Dark theme
											    @include color-scheme(dark) {
											        --#{$prefix}dropdown-bg: #{$dropdown-darkmode-bg};
											        --#{$prefix}dropdown-border-color: #{$dropdown-darkmode-border-color};
											    }
											}
										</code>
									</pre>
									<p>Each SCSS variable that needs adjustment in dark theme, has additional suffix - <code>darkmode</code>, all of them are stored in same files.</p>
								</div>

								<div class="mb-3 pt-2" id="themes_switching">
									<h3 class="fw-bold">Switching between themes</h3>

									<p>Altough light and dark themes are all done in S/CSS, switching mechanism is purely based on JavaScript. Limitless includes theme switcher that includes 3 options: light, dark and system. Light and dark are manual switchers, system is some sort of automatic mode that sets a theme dynamically based on your operating system scheme. You can re-use the code or create your own, attach it to dropdown menu or buttons, form controls or selects, it's up to you. More options will be added in the next updates.</p>

									<p class="mb-3">You can find JS code for theme switcher in <code>template/assets/demo/demo_configurator.js</code> file, here is it:</p>

									<pre class="language-javascript mb-3">
										<code>
											// Check localStorage on page load and set mathing theme/direction
											(function () {
												((localStorage.getItem('theme') == 'auto' && window.matchMedia('(prefers-color-scheme: dark)').matches) || localStorage.getItem('theme') == 'dark') && document.documentElement.setAttribute('data-color-theme', 'dark');
											})();

											// Theme configuration
											var layoutTheme = function() {
												var primaryTheme = 'light';
												var secondaryTheme = 'dark';
												var storageKey = 'theme';
												var colorscheme = document.getElementsByName('main-theme');
												var mql = window.matchMedia('(prefers-color-scheme: ' + primaryTheme + ')');

												// Changes the active radiobutton
												function indicateTheme(mode) {
													for(var i = colorscheme.length; i--; ) {
														if(colorscheme[i].value == mode) {
															colorscheme[i].checked = true;
															colorscheme[i].closest('.list-group-item').classList.add('bg-primary', 'bg-opacity-10', 'border-primary');
														}
														else {
															colorscheme[i].closest('.list-group-item').classList.remove('bg-primary', 'bg-opacity-10', 'border-primary');
														}
													}
												};

												// Turns alt stylesheet on/off
												function applyTheme(mode) {
													var st = document.documentElement;
													if (mode == primaryTheme) {
														st.removeAttribute('data-color-theme');
													}
													else if (mode == secondaryTheme) {
														st.setAttribute('data-color-theme', 'dark');
													}
													else {
														if (!mql.matches) {
															st.setAttribute('data-color-theme', 'dark');
														}
														else {
															st.removeAttribute('data-color-theme');
														}
													}
												};

												// Handles radiobutton clicks
												function setTheme(e) {
													var mode = e.target.value;
													document.documentElement.classList.add('no-transitions');
													if ((mode == primaryTheme)) {
														localStorage.removeItem(storageKey);
													}
													else {
														localStorage.setItem(storageKey, mode);
													}
													// When the auto button was clicked the auto-switcher needs to kick in
													autoTheme(mql);
												};

												// Handles the media query evaluation, so it expects a media query as parameter
												function autoTheme(e) {
													var current = localStorage.getItem(storageKey);
													var mode = primaryTheme;
													var indicate = primaryTheme;
													// User set preference has priority
													if ( current != null) {
														indicate = mode = current;
													}
													else if (e != null && e.matches) {
														mode = primaryTheme;
													}
													applyTheme(mode);
													indicateTheme(indicate);
													setTimeout(function() {
														document.documentElement.classList.remove('no-transitions');
													}, 100);
												};

												// Create an event listener for media query matches and run it immediately
												autoTheme(mql);
												mql.addListener(autoTheme);

												// Set up listeners for radio button clicks
												for(var i = colorscheme.length; i--; ) {
													colorscheme[i].onchange = setTheme;
												}
											};
										</code>
									</pre>

									<p>By default, theme switcher is attached to 3 radio buttons and light theme is the default one. Selected theme is stored in localStorage and is being automatically loaded on page load.</p>
								</div>
							</div>
							<!-- /themes -->

						</div>
						<!-- /left content -->


						<!-- Right sidebar component -->
						<div class="sticky-lg-top order-1 order-lg-2 wmin-lg-300 ms-lg-4 mb-3">
							<h6 class="fw-semibold mt-lg-3 mb-3">On this page</h6>

							<ul class="nav nav-scrollspy flex-column" id="page_nav">
								<li class="nav-item">
									<a href="#themes_overview" class="nav-link">Overview</a>
								</li>
								<li class="nav-item">
									<a href="#themes_usage" class="nav-link">How to use</a>
								</li>
								<li class="nav-item">
									<a href="#themes_root_level" class="nav-link">Root level</a>
								</li>
								<li class="nav-item">
									<a href="#themes_component_level" class="nav-link">Component level</a>
								</li>
								<li class="nav-item">
									<a href="#themes_switching" class="nav-link">Switching between themes</a>
								</li>
							</ul>
			            </div>
						<!-- /right sidebar component -->

					</div>
					<!-- /inner container -->

				</div>
				<!-- /content area -->


				<!-- Footer -->
				<div class="navbar navbar-sm navbar-footer border-top">
					<div class="container-fluid">
						<span>&copy; 2022 <a href="https://themeforest.net/item/limitless-responsive-web-application-kit/13080328">Limitless Web App Kit</a></span>

						<ul class="nav">
							<li class="nav-item">
								<a href="https://kopyov.ticksy.com/" class="navbar-nav-link navbar-nav-link-icon rounded" target="_blank">
									<div class="d-flex align-items-center mx-md-1">
										<i class="ph-lifebuoy"></i>
										<span class="d-none d-md-inline-block ms-2">Support</span>
									</div>
								</a>
							</li>
							<li class="nav-item ms-md-1">
								<a href="https://demo.interface.club/limitless/demo/Documentation/index.html" class="navbar-nav-link navbar-nav-link-icon rounded" target="_blank">
									<div class="d-flex align-items-center mx-md-1">
										<i class="ph-file-text"></i>
										<span class="d-none d-md-inline-block ms-2">Docs</span>
									</div>
								</a>
							</li>
							<li class="nav-item ms-md-1">
								<a href="https://themeforest.net/item/limitless-responsive-web-application-kit/13080328?ref=kopyov" class="navbar-nav-link navbar-nav-link-icon text-primary bg-primary bg-opacity-10 fw-semibold rounded" target="_blank">
									<div class="d-flex align-items-center mx-md-1">
										<i class="ph-shopping-cart"></i>
										<span class="d-none d-md-inline-block ms-2">Purchase</span>
									</div>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<!-- /footer -->

			</div>
			<!-- /inner content -->

		</div>
		<!-- /main content -->

	</div>
	<!-- /page content -->

</body>
</html>
